{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="background-img">
                    <div class="content p-4 text-center">
                        <h2 class="mb-4">{{ page_item.title }}</h2>
                        <p class="lead">{{ page_item.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Orders History <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="">Orders History</a></li>
            <li><a class="dropdown-item" href="">Art objects currently in rent</a></li>
        </ul>
    </li>
{% endblock content %}